<div class="join_bg">
  <h1>로그인</h1>
</div>
<form action="loginE" method="post">
  <section class="w1280">
    <div class="login_wrap">
      <ul class="login_list">
        <li><label for="userid">ID</label><input type="text" placeholder="아이디를 입력해주세요" name="userid"></li>
        <li><label for="pwd">PW</label><input type="password" placeholder="비밀번호를 입력해주세요" name="pwd"></li>
      </ul>
      <button type="submit" class="login_submit" value="login">로그인하기</button>
    </div>
  </section>
</form>