  <!--section1-->
  <section>
    <div class="notice_h_bg">
      <h1>COMMUNITY</h1>
    </div>
  </section>
  <!--section2-->
  <section class="w1280">
    <div class="notice_title">
      <h1>공지사항</h1>
    </div>
    <div class="ntcTictle_wrap">
      <h1><b>공지</b>뱅골프클럽 정품 VS 가품(모조품)</h1>
      <p><strong>작성자 : </strong>관리자 <strong>작성일 : </strong>2021-04-26</p>
    </div>
    <div class="ntcinfo_wrap">
      <h2>뱅골프코리아 정품은 현재 타 온라인 쇼핑몰에서는 판매되지 않습니다.</h2>
      <p>뱅골프코리아 정품은 공식홈페이지내에 있는 쇼핑몰외 다른 온라인 쇼핑몰에서는 판매를 하지 않습니다.</p>
      <p>온라인 타쇼핑몰, 오픈마켓에서 판매되는 상품들은 저희 뱅골프코리아 정품이 아니며,</p>
      <p>뱅골프 로고가 틀리거나 샤프트에 뱅골프코리아의 홀로그램이 없는것은 모조품입니다.</p>
      <p>고객님들의 주의를 당부드립니다.</p>
      <p>감사합니다.</p>
    </div>
    <button type="button" onclick="location.href='/notice'" class="ntcinfo_btn" style="float: right;">목록</button>
  </section>