    <!--section1-->
    <section>
      <div class="notice_h_bg">
        <h1>COMMUNITY</h1>
      </div>
    </section>

    <!--section2-->
    <section class="w1280">
      <form action="/writememo" method="post">
        <table border="1" class="ntcwrite_wrap">
          <tr>
            <td class="ntcwrite_w">제목</td>
            <td><input type="text" name="title"></td>
          </tr>
          <tr>
            <td class="ntcwrite_w">
              <div>내용</div>
            </td>
            <td class="ntcwrite_txt">
              <textarea name="cont" rows="30" cols="40" wrap="physical"></textarea>
            </td>
          </tr>
        </table>
        <input type="submit" value="작성하기" id="ntcwrite_sub" style="float: right;">
      </form>
    </section>