  <!--푸터 시작-->
  <footer id="bgColor_foot">
    <div class="f_top w1280">
      <ul>
        <li><a href=""><b>개인정보처리방침</b></a></li>
        <li><a href="">
            <p>이용약관</p>
          </a></li>
        <li><a href="">
            <p>이용안내</p>
          </a></li>
      </ul>
    </div>
    <div class="f_mid w1280">
      <div class="f_mid_left">
        <ul>
          <li>
            <div class="title">
              제품구매
            </div>
            <ul>
              <li><a href="">제품전체보기</a></li>
              <li><a href="">DRIVER</a></li>
              <li><a href="">WOOD</a></li>
              <li><a href="">HyBRID IRON</a></li>
              <li><a href="">WEDGE</a></li>
              <li><a href="">GOLF BAG</a></li>
              <li><a href="">CAP / ETC.</a></li>
            </ul>
          </li>
          <li>
            <div class="title">
              최적화클럽
            </div>
            <ul>
              <li><a href="">BEST 100 GOLF TEACHERS</a></li>
              <li><a href="">파트너 프로</a></li>
            </ul>
          </li>
          <li>
            <div class="title">고객지원</div>
            <ul>
              <li><a href="">본사매장 방문예약</a></li>
              <li><a href="">AS 신청</a></li>
              <li><a href="">AS서비스안내</a></li>
              <li><a href="">대리점안내</a></li>
              <li><a href="">자주묻는질문</a></li>
              <li><a href="">1:1문의</a></li>
            </ul>
          </li>
          <li>
            <div class="title">커뮤니티</div>
            <ul>
              <li><a href="">공지사항</a></li>
              <li><a href="">이벤트</a></li>
              <li><a href="">제품 사용 후기</a></li>
              <li><a href="">미디어 뉴스</a></li>
              <li><a href="">동영상 자료</a></li>
            </ul>
          </li>
          <li>
            <div class="title">마이페이지</div>
            <ul>
              <li><a href="">기본정보</a></li>
              <li><a href="">주문내역</a></li>
              <li><a href="">관심상품</a></li>
              <li><a href="">MY 뱅클럽</a></li>
              <li><a href="">AS 신청 내역</a></li>
              <li><a href="">방문예약 신청 내역</a></li>
              <li><a href="">1:1문의 내역</a></li>
            </ul>
          </li>
          <li>
            <div class="title">회사소개</div>
            <ul>
              <li><a href="">CEO 인사말</a></li>
              <li><a href="">MISSON&VISION</a></li>
              <li><a href="">연혁</a></li>
              <li><a href="">CI|BI</a></li>
              <li><a href="">오시는 길</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="f_mid_right">
        <h2>고객센터</h2>
        <p class="call">1544-8070</p>
        <p class="csday">월~금, 공휴일 09:00 ~ 18:00<br>
          (점심시간 : 12:00~13:00)<br>
          토요일,일요일은 휴무입니다.
        </p>
        <ul>
          <li class="bank">
            <p><strong>신한은행</strong> 140-002-688857</p>
          </li>
          <li class="bank">
            <p><strong>KB국민은행</strong> 822-01-0195-673</p>
          </li>
          <li class="bank">
            <p><strong>예금주 :</strong> (주)골프코리아</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="f_bot w1280">
      <div class="f_bot_left">
        <div class="listline">
          <p class="listtxt">(주)골프코리아 </p>
          <p class="listtxt libe">경기 성남시 분당구 야탑로 26 (야탑동, 한국골프회관) 한국골프회관1층 </p>
          <p class="listtxt libe">대표이사 : 이형규</p>
        </div>
        <div class="listline">
          <p class="listtxt">사업자등록번호 106-81-70540 </p><a href="" class="listcheck">사업자정보확인 </a>
          <p class="listtxt libe">통신판매신고 : 경기성남 제 2006-929호</p>
        </div>
        <div class="listline">
          <p class="listtxt">대표전화 : 1544-8070 </p>
          <p class="listtxt libe">FAX. 031-781-2031</p>
          <p class="listtxt libe">개인정보보호책임자 : 김동주 (web@golfkorea.co.kr)</p>
        </div>
        <div class="listline">
          <p class="listtxt">Copyright(C) 2022 BANGGOLFKOREA. All right reserved.</p>
        </div>
      </div>
      <div class="f_bot_right">
        <p>나이스정보통신(주) 안전거래 가맹점<br>
          현금으로 구매시 토스페이먼츠의 에스크로<br>
          서비스를 이용할 수 있습니다.</p>
      </div>
    </div>
  </footer>