  <!-- 헤더 시작-->
  <header>
    <div class="h_wrap">
      <h1><a href="/"></a></h1>
      <div class="gnb">
        <ul>
          <li><a href="/pdinfo">제품소개</a></li>
          <li><a href="#">최적화 클럽</a></li>
          <li><a href="#">고객지원</a></li>
          <li><a href="/notice">커뮤니티</a></li>
          <li><a href="#">회사소개</a></li>
        </ul>
      </div>
      <div class="SNS_wrap">
        <div class="login">
          <li><a href="/login" class="log">로그인</a></li>
          <li><a href="/join" class="submit">회원가입</a></li>
        </div>
        <div class="sns">
          <ul>
            <li class="kakao"><a href="kakao">
                <span><img src="img/icons/kakao-b.png" alt="kakao"></span>
              </a></li>
            <li class="yt"><a href="youtube">
                <span><img src="img/icons/youtube-b.png" alt="youtube"></span>
              </a></li>
            <li class="insta"><a href="insta">
                <span><img src="img/icons/insta-b.png" alt="insta"></span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>