    <!--section 1 시작-->
    <section>
      <div class="video_wrap">
      </div>
    </section>
    <!--section 2 시작-->
    <section class="w1280 m100">
      <div class="icon_wrap">
        <ul>
          <li><a href="/pdinfo"><span><img src="img/icons/product.png" alt=""></span></a>
            <p>상품소개</p>
          </li>
          <li><a href="#"><span><img src="img/icons/fit_pd.png" alt=""></span></a>
            <p>클럽 맞춤 제작</p>
          </li>
          <li><a href="#"><span><img src="img/icons/swing_1280-y.png" alt=""></span></a>
            <p>스윙 분석</p>
          </li>
          <li><a href="/notice"><span><img src="img/icons/community.png" alt=""></span></a>
            <p>커뮤니티</p>
          </li>
          <li><a href="#"><span><img src="img/icons/cs_call.png" alt=""></span></a>
            <p>고객문의</p>
          </li>
        </ul>
      </div>
      <div class="banner_wrap m100">
        <ul>
          <li class="banf" onclick="location.href='#'" style="cursor: pointer;"></li>
          <li class="bans" onclick="location.href='#'" style="cursor: pointer;">
            <div class="txtF">
              <p>Par5 3Shot 합산</p>
              <h2>+100yd</h2>
              <h1>더 나간다</h1>
            </div>
            <div class="txtS">
              <p>세계 최고 <strong>고반발</strong> 기술</p>
              <p>세계 <strong>최경량</strong> 기술</p>
              <p><strong>최적화</strong> 기술</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!--section 3 시작-->
    <section class="w1280 m100">
      <h1>BEST ITEM</h1>
      <p class="p20">최근 가장많이 팔린 상품을 소개합니다.</p>
      <div class="bestpd">
        <ul>
          <li><a href=""><span id="firstBpd"><img src="img/product/wood-gold.jpg" alt="wood-gold"></span>
              <div class="txtbox">
                <p><strong>[뱅골프] LIGHT PREMIUM</strong><br>(GOLD) 뱅드라이버 (초경량 + 극초고반발) 남성용드라이버</p>
              </div>
            </a></li>
          <li><a href=""><span id="secondBpd"><img src="img/product/wood-wine.jpg" alt="wood-wine"></span>
              <div class="txtbox">
                <p><strong>[뱅골프] LIGHT PREMIUM</strong><br>(WINE) 뱅드라이버 (초경량 + 극초고반발) 남성용드라이버</p>
              </div>
            </a></li>
          <li><a href=""><span id="thirdBpd"><img src="img/product/wood-red.jpg" alt="wood-red"></span>
              <div class="txtbox">
                <p><strong>[뱅골프] LIGHT PLUS</strong><br>(RED) 뱅드라이버 (초경량 + 극초고반발) 여성용드라이버</p>
              </div>
            </a></li>
        </ul>
      </div>
    </section>
    <!--section 4 시작-->
    <section class="m100 w100" id="bteacherBg">
      <div class="w1280 bteacher">
        <h1>100 TEACHERS</h1>
        <p class="p20">초보자를 위한 골프선생님들을 소개합니다.</p>
        <div class="bteacher-box">
          <div class="btbox-left"><a href="">
              <div class="btbox-left-wrap">
                <span>
                  <div class="btbox-left-txt">
                    <p>4050 남성 회원분들 <b>선호도 조사 1위 !</b><br>JTBC 골프 라이브 레슨 출연</p>
                    <h1>KPGA 정회원</h1>
                    <h3>現수원 여자대학교 교수</h3>
                    <h2>이병윤 프로</h2>
                  </div>
                  <img src="img/teacher/20210603091743_이병윤(600x720)_210421.jpg" alt="">
                </span>
              </div>
            </a>
          </div>
          <div class="btbox-right">
            <div class="btbox-right-wrap">
              <a href="">
                <div class="btbox-right-top">
                  <span>
                    <div class="btbox-right-top-txt">
                      <p>40여성회원 <b>만족도1위</b></p>
                      <h2>KLPGA 정회원<br>
                        前국가대표 코치</h2>
                      <h3>박소영 프로</h3>
                    </div>
                    <img src="img/teacher/20210421165114_박소영(600x720)_210421.jpg" alt="">
                  </span>
                </div>
              </a>
              <a href="">
                <div class="btbox-right-bot">
                  <span>
                    <div class="btbox-right-bot-txt">
                      <p>골프다이제스티 선정 <b>교습가 1위</b></p>
                      <h2>KPGA 대상<br>
                        JTGO 통산 8승</h2>
                      <h3>허석호 프로</h3>
                    </div>
                    <img src="img/teacher/20210603093454_허석호(600x720)_210421.jpg" alt="">
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--section 5 시작-->
    <section class="w1280 m100">
      <h1>FIND YOUR CLUB</h1>
      <p class="p20">맞춤제작을 통한 자신만의 골프 클럽을 찾아 보세요.</p>
      <div class="sec5-pd-wrap">
        <ul>
          <li><a href="#">
              <div class="sec5-pdinfo">
                <span><img src="img/product/wood-pink.jpg" alt=""></span>
                <div class="sec5-txtbox">
                  <p><strong>[뱅골프] LIGHT PLUS
                    </strong> <br>(PINK) 뱅드라이버 (초경량 + 극초고반발) 여성용드라이버</p>
                </div>
              </div>
            </a></li>
          <li><a href="#">
              <div class="sec5-pdinfo">
                <span><img src="img/product/longdistance1.jpg" alt=""></span>
                <div class="sec5-txtbox">
                  <p><strong>[뱅골프]LONGDISTANCE470
                    </strong> <br>초고반발 뱅 드라이버 남성용/여성용</p>
                </div>
              </div>
            </a></li>
          <li><a href="#">
              <div class="sec5-pdinfo">
                <span><img src="img/product/iron-blue.jpg" alt=""></span>
                <div class="sec5-txtbox">
                  <p><strong>[뱅골프] LIGHT PLUS
                    </strong><br> (BLUE) 하이브리드아이언 (초경량 + 극초고반발) 여성용</p>
                </div>
              </div>
            </a></li>
          <li><a href="#">
              <div class="sec5-pdinfo">
                <span><img src="img/product/iron-yellow.jpg" alt=""></span>
                <div class="sec5-txtbox">
                  <p><strong>[뱅골프] LONGDISTANCE
                    </strong><br> 초고반발 하이브리드아이언 남성용/여성용</p>
                </div>
              </div>
            </a></li>
        </ul>
      </div>
    </section>
    <!--section 6 시작-->
    <section class="w100 m100" id="acyBg">
      <div class="acyWrap w1280">
        <div class="acyTxt">
          <h1>Accessory</h1>
          <p>뱅골프 만의 여러종류의 골프가방, 모자들을 소개합니다. </p>
        </div>
        <div class="acyPd">
          <ul>
            <li><a href="" id="pdBag"></a>
              <div class="acyPdTxt">
                <h1>[뱅골프] CASUAL READER GOLF BAG</h1>
              </div>
            </li>
            <li><a href="" id="pdGolfcap"></a>
              <div class="acyPdTxt">
                <h1>[뱅골프] GOLF CAP</h1>
              </div>
            </li>
            <li><a href="" id="pdPou"></a>
              <div class="acyPdTxt">
                <h1>[뱅골프] QUILTINGLINE (YELLOW) GOLF BAG
                </h1>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!--seciton 7 시작-->
    <section class="w1280 m100">
      <div class="infowrap">
        <div class="infoTxt">
          <h1>뱅골프 이용 안내</h1>
          <p>뱅골프코리아의 각종 서비스 및 이용에 관하여 안내드립니다.</p>
        </div>
        <div class="info">
          <ul>
            <li><a href="" id="asService">
                <div class="infoCon">
                  <div class="infoContxt">
                    <p>맞춤형 클럽 a/s에 관해<br>
                      안내드립니다.</p>
                    <h1>AS 서비스 안내</h1>
                  </div>
                  <div class="infoConicon">
                    <div id="as"></div>
                  </div>
                </div>
              </a></li>
            <li><a href="" id="daeri">
                <div class="infoCon">
                  <div class="infoContxt">
                    <p>뱅골프 클럽을<br>
                      만나볼 수 있습니다.</p>
                    <h1>대리점 안내</h1>
                  </div>
                  <div class="infoConicon">
                    <div id="dae"></div>
                  </div>
                </div>
              </a></li>
            <li><a href="" id="quest">
                <div class="infoCon">
                  <div class="infoContxt">
                    <p>궁금한 점에 대해 먼저<br>
                      알아볼 수 있습니다.</p>
                    <h1>자주묻는질문 안내</h1>
                  </div>
                  <div class="infoConicon">
                    <div id="qa"></div>
                  </div>
                </div>
              </a></li>
            <li><a href="" id="ll">
                <div class="infoCon">
                  <div class="infoContxt">
                    <p>여러가지 자세한 사항을<br>
                      안내받으세요.</p>
                    <h1>1:1 문의 </h1>
                  </div>
                  <div class="infoConicon">
                    <div id="ii"></div>
                  </div>
                </div>
              </a></li>
          </ul>
        </div>
      </div>
    </section>